.keypad{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.calculator{
    background-color: rgb(238, 242, 249);
    padding: 20px;
    border-radius: 20px;
    width: 500px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 246, 254);
}
#display{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    background-color: rgb(233, 230, 254);
    border: none;
    border-radius: 10px;
    text-align: right;
    font-size: 35px;
    padding: 20px;
    font-weight: bold;
    color: rgb(18, 17, 17);
}
.btn{
    padding: 15px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
    background-color: lavender;
    border: none;
    box-shadow: 0 4px 0px rgb(198, 198, 241);
}
.btn:active{
    transform: translateY(4px);
    box-shadow: 0 0px 0px rgb(198, 198, 241);
}
.oprator{
    background-color: lavender;
}
.equal{
    background-color: #e74c3c;
    color: white;
    box-shadow: 0 4px 0px #c0392b;
}
.equal:active{
    box-shadow: 0 0px 0px #c0392b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}